.meetHeather h2{
    color:#ff914d;
}


.meetHeather .phoneView{
    margin-left:35px;
    margin-right:35px;
}

.meetHeather .phoneView img, .meetHeather .phoneView p{
    padding-top:25px;
}

.meetHeather .computerView{
    display:none;
}

.meetHeather .computerView .row{
    display:flex;
    margin-left:35px;
    margin-right:35px;
}

.meetHeather .computerView .leftP{
    padding-right:35px;
}

.meetHeather .computerView .rightP{
    padding-left:35px;
}

.meetHeather .computerView .row p{
    padding-top:30px;
}

.meetHeather .computerView .firstRow .leftColumn{
    width:50%;
}

.meetHeather .computerView .firstRow .rightColumn{
    width:50%;
}

.heatherHeadshot{
    width:100%;
}

.meetHeather .computerView .secondRow p, .meetHeather .computerView .thirdRow p{
    width:50%;
}

.arushaMeetHeatherLogo{
    width:50%;
    margin-left:25%;
    margin-right:25%;
}


@media(min-width: 700px) {
    .meetHeather .phoneView{
        display:none;
    }
    .meetHeather .computerView{
        display:flex;
        flex-direction: column;
    }
}