.aboutArushaSection h1{
    text-align: center;
    font-family: brushwell;
    font-size:50px;
    margin:0px;
    padding-bottom:20px;
}

.testimonialsContainer{
    background-color: #feffef;
    padding:25px;
}

.testimonialsContainer h1{
    text-align: center;
    color:#ff914d;
}

.slide-container{
    width:100%;
}

.react-slideshow-container .nav{
    background: #600060 !important;
}



/*.slide-container {
    width: 70%;
    margin: auto; }
  
  h3 {
    text-align: center; }*/
  
  /*.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }*/
  /*
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: black;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
*/
/*
.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: black;
    text-align: center;
    color:black;
  }*/



/*.react-slideshow-container .nav{
    color:black;
    background-color: black;
}*/

.each-slide{
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

.each-slide img{
    width:100%;
}



.clientsContainer{
    /*background-color: #feffef;*/
    border-top:15px solid #600060;
    border-bottom:15px solid #600060;
    background-color:#feffef;
    padding:25px;
}

.clientsContainer h1{
    color:#600060;
}

.clientsContainer div{
    text-align: center;
}

.clientsContainer img{
    height:65px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:15px;
    margin-right:15px;
}

.aboutArushaSection{
    padding-top:50px;
    background-color: #feffef;

}

.aboutArushaSection p{
    font-family: avenir;
}


.meetHeather{
    background-color: #feffef;
}

.meetHeather h1{
    color:#ff914d;
}



.boldAboutParagraph{
    height:200px;
    /*background: url('../../images/brushstrokes.png') no-repeat;
    background-position: 50% 50%;
    background-size: 85%;*/
    text-align: center;
    position:relative;
    margin-top:20px;
}

.boldAboutParagraph div{
    padding-top:0px !important;
    font-weight:900;
    /*font-weight:900;
    padding-top:0px !important;
    position:absolute;
    top:0;
    text-align: left !important;
    border:1px solid green;*/
    /*position:absolute;
    top:0;
    display:inline-block;*/
    display:flex;
    justify-content: center;
    align-items: center;
    height:100% !important;
    text-align: left !important;
    position:absolute;
    top:0;
    left:0;
    height:100%;
}

.boldAboutParagraph div p{
    padding:0px !important;
}

.boldAboutParagraph img{
    position:relative;
    padding:0px !important;
    margin:0px !important;
    height:100% !important;
}

.meetHeather .phoneView{
    padding:35px;
}

.meetHeather .phoneView p{
    padding-top:25px;
}

.meetHeather .phoneView img{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

.meetHeather .computerView{
    display:none;
}

.meetHeather .computerView .row{
    display:flex;
    padding-top:30px;
}

.meetHeather .computerView .leftP{
    padding-right:35px;
}

.meetHeather .computerView .rightP{
    padding-left:35px;
}

/*.meetHeather .computerView .row p{
    padding-top:30px;
}*/

.meetHeather .computerView .firstRow .leftColumn{
    width:50%;
}

.meetHeather .computerView .firstRow .rightColumn{
    width:50%;
}

.heatherHeadshot{
    width:100%;
    background-color: transparent;
}

.meetHeather .computerView .secondRow p, .meetHeather .computerView .thirdRow p{
    width:50%;
}

.arushaMeetHeatherLogo{
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

.aboutPageFooter{
    border-top:15px solid #ff914d;
    background-color:#feffef;
}

@media(min-width: 500px) {
    .meetHeather .phoneView img{
        width:60%;
        margin-left:20%;
        margin-right:20%;
    }
    .clientsContainer img{
        height:70px;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:15px;
        margin-right:15px;
    }
}

@media(min-width: 600px) {
    .meetHeather .phoneView img{
        width:50%;
        margin-left:25%;
        margin-right:25%;
    }
    .slide-container{
        width:70%;
        margin-right:15%;
        margin-left:15%;
    }
}

@media(min-width: 700px) {
    .meetHeather{
        padding:25px;
    }
    .meetHeather .phoneView{
        display:none;
    }
    .meetHeather .computerView{
        display:flex;
        flex-direction: column;
        /*padding-left:25px;
        padding-right:25px;*/
        width:650px;
        margin-left:auto;
        margin-right:auto;
    }
    .clientsContainer img{
        height:80px;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:15px;
        margin-right:15px;
    }
}

@media(min-width: 1000px) {
    .slide-container{
        width:46%;
        margin-right:27%;
        margin-left:27%;
    }
    .clientsContainer img{
        height:100px;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:15px;
        margin-right:15px;
    }
}

/*
320px
480px
600px
768px
900px
1024px
1200px
*/
