.individualPostPageSection{
    padding-top:50px;
    background-color: #feffef;
}

.postPageAnchorSection{
    font-size: 12px;
}

.postPageAnchorSection div{
    padding:10px;
}

.sponsorAnchorImg{
    height:100px;
    max-width:50%;
} 

.sponsorAnchor{
    color:black;
    margin-bottom:5px;
    padding:0px !important;
    display:flex;
    height:100%;
    font-family: avenir;
}

.sponsorAnchor h2{
    padding-left:10px;
    height:100%;
    display: flex;
    justify-content: center;
    padding:0px 0px 0px 10px !important;
    font-size:20px;
    text-align: center;
}

.sponsorAnchorLink{
    text-decoration: none;
    display:inline-block;
}

.disclaimerAnchor{
    background-color: #600060;
    color:white;
    font-size:16px;
    font-family: avenir;
}

.heroBannerPost{
    height:10vh;
    background-color: #31363b;
}

.heroTextPost{
    height:100%;
}

.heroTextPost nav{
    color:white;
    z-index: 10;
    display:flex;
    width:100%;
    height:100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
    padding-left:15px;
    padding-right:15px;
}

.heroTextPost nav h1{
    font-size: 30px;
    line-height: 30px;
    margin:0px;
}

.postContentSection{
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
}


.postTitle{
    margin:0px;
    text-align: center;
    font-family: hightower;
    font-size: 35px;
}

.postDate{
    text-align: center;
    font-family: avenir;
    font-size:16px;
    line-height: 20px;
    color:grey;
}

.featuredImgPost{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-color:#dedede;
}

/*styling content*/

.contentContainer{
    font-family:avenir;
}

.contentContainer h1{
    font-size: 24px;
}

.contentContainer h2{
    font-size:20px;
}

.contentContainer h3{
    font-size:18px;
}

.contentContainer p{
    font-size: 16px;
    line-height: 18px;
}

.contentContainer img{
    width:60%;
    margin-left:20%;
    margin-right:20%;
}

pre{
    margin-top: 15px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin-left: 2rem;
}

pre code{
    font-family: avenir;
    font-size: 16px;
    line-height: 18px;
}

.contentContainer h1, .contentContainer h2, .contentContainer h3, .contentContainer p{
    margin-top:15px;
}

.contentContainer li{
    margin-top:5px;
    font-size: 16px;
    line-height: 18px;
    margin-left: 2rem;
}

.contentContainer a{
    color:#600060;
}

@media(min-width: 480px) {
    .postContentSection{
        padding-left:30px;
    }
    .postAnchor{
        display:flex;
    }
    .sponsorAnchor{
        flex-direction: column;
        margin-right:5px;
    }
    .sponsorAnchorImg{
        width:100%;
        height:auto;
        max-width:100%;
    }
    .sponsorAnchor h2{
        padding:10px 0px 0px 0px !important;
    }
}

/*switch to anchor on the left*/
@media(min-width: 768px) {

    .individualPostPageSection{
        display:flex;
        flex-direction: row-reverse;
    }
    .postAnchor{
        flex-direction: column;
        padding-top:0px !important;
    }
    .sponsorAnchorLink{
        margin-right:0px;
    }
    .sponsorAnchor{
        margin-right:0px;
    }
    .postPageAnchorSection{
        padding-top:25px;
        width:25%;
    }
    .postContentSection{
        width:75%;
        padding-right:20px;
    }
    .sponsorAnchorImg{
        width:100%;
    }
}
