.heroBanner{
    z-index: 1;
    position:relative;
    height:75vh;
}

.heroImage{
    z-index:2;
    background: url('../../images/fairground.jpg') no-repeat;
    background-position: 35% 100%;
    background-size: cover;
    position:absolute;
    width:100%;
    height:100%;
    background-color: white;
}

.heroOverlay{
    z-index:3;
    background-color: #2a2829;
    opacity:0.75;
    width:100%;
    position: relative;
    height:100%;
}

.heroText{
   z-index:4;
   height:100%;
   width:100%;
   position:absolute;
   font-family: avenir;
    color:white;
    padding:15px;
}

.heroText nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    top:40%;
    height:20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    position:absolute;
    left:5%;
}

@font-face {
    font-family: brushwell;
    src: url('../FairgroundAssetsPage/Brushwell-4BBJD.ttf');
  }

  @font-face {
    font-family: avenir;
    src: url('../FairgroundAssetsPage/AvenirLTStd-Book.otf');
  }

.title h1{
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 50px;
    line-height: 50px;
    font-family: brushwell;
}

.title h1 p{
    font-size: 20px;
    line-height: 20px;
    margin-top:10px;
    position:relative;
    top:10px;
    right:-120px;
    display:block;
    width:160px;
}

.creditBadge{
    position:absolute;
    bottom:15px;
    right:15px;
    font-size:8px;
    color:white;
    text-decoration: none;
    font-family: avenir;
}

.message{
    font-style: italic;
    font-size:18px;
}

.socialMediaIcons a{
    color:white;
    margin-left:10px;
}

.socialMediaIcons a:hover{
    color:grey;
}

.heroMessage{
    font-size: 75px;
    line-height: 100px;
    height:60%;
    position:absolute;
    bottom:25px;
}

.aboutFairground{
    background-color: #ebebe6;
    padding:35px;
}

.aboutFairground h2{
    /*font-family: 'Playfair Display', serif;*/
    font-family: brushwell;
    margin-bottom:20px;
    font-size: 34px;
}

.aboutFairground p{
    font-family: avenir;
    margin-bottom: 20px;
    font-size:14px;
}

.aboutFairground li{
    font-family: avenir;
    font-size:14px;
}

.aboutFairground button{
    background-color:#600060;
    padding:15px;
    color:white;
    opacity:0.8;
    font-family: avenir;
    cursor: pointer;
}

.listItem{
    margin-left:5%;
    margin-bottom:10px;
}

.firstSubListItem{
    margin-top: 10px;
    margin-bottom:10px;
}

.lastSubListItem{
    margin-bottom: 20px;
}

.subListItem{
    margin-left:5%;
}

.aboutFairground button:hover{
    /*background-color:#2d5caf;*/
    opacity:1;
}

.resourcesSection{
    /*background-color: #2d2c2d;*/
    /*background-color: #31363b;*/
    background-color:#8E8E8E;
    color: white;
    padding:35px;
}

.resourcesSection h2{
    /*font-family: 'Playfair Display', serif;*/
    font-family: brushwell;
    margin-bottom:20px;
    font-size: 34px;
    line-height: 26px;
}

.resourcesSection p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom:35px;
}

footer{
    background-color: #ebebe6;
    padding:35px;
    font-family: avenir;
}

footer h3{
    font-size:16px;
    margin-bottom:20px;
}

footer p{
    margin-bottom:20px;
    font-size:14px;
}

footer a{
    color:#600060;
}

@media(min-width: 400px) {
    .title h1 p{
        right:-160px;
    }
}

@media(min-width: 600px) {
    .title h1{
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
        margin-bottom:0px;
        font-size: 70px;
        line-height: 70px;
        font-family: brushwell;
    }
    
    .title h1 p{
        font-size: 34px;
        line-height: 34px;
        margin-top:10px;
        position:relative;
        top:10px;
        right:-180px;
        display:block;
        width:260px;
    }
}





/*
320px
480px
600px
768px
900px
1024px
1200px
*/
