.heroImageNav{
    z-index:2;
    background: url('../../images/blogHero.jpg') no-repeat bottom center;
    background-size: cover;
    position:absolute;
    width:100%;
    height:100%;
    background-color: white;
}

.fairgroundBannerImgBox{
    background-image: linear-gradient(to right, #6E274E , #430146);
}

.fairgroundBannerImg{
    width:100%;
    background-color: transparent;
}

.postsListSection{
    padding-top:30px;
    background-color: #ebebe6;
}

.blogPageNav{
    background:grey;
}

@media(min-width: 600px) {
    .fairgroundBannerImg{
        width:80%;
        padding-left:10%;
        padding-right:10%;
        background-color: transparent;
    }
}
