.postsListSection h1{
    padding:0px;
    margin-top:0px;
    margin-bottom:30px;
    text-align: center;
    font-family: hightower;
    color:#ff914d;
    font-size:35px;
}

.fairgroundBannerContainer{
    height:250px;
    padding-top:50px;
    background-image: linear-gradient(to right, #6E274E , #430146);
}

.fairgroundBannerImgBox{
    height:100%;
    padding:0px;
    background: url('../../images/fairgroundBanner.png') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.fairgroundBannerImg{
    margin:0px;
    padding:0px;
    width:100%;
}

.postsListSection{
    padding-top:30px;
    background-color: #feffef;
}

.blogPageNav{
    background:grey;
}

.fairgroundBannerContainer{
    height:250px;
    padding-top:50px;
    background-image: linear-gradient(to right, #6E274E , #430146);
}

@media(min-width: 768px) {
    .fairgroundBannerContainer{
        height:350px;
    }
    .fairgroundBannerImgBox{
        height:100%;
        padding:0px;
        background: url('../../images/fairgroundBanner.png') no-repeat;
        background-position: 50% 50%;
        background-size: auto 100%;
    }
}

