.commentsSection{
    padding-top:40px;
    font-family:avenir;
}

.commentsSection h2{
    font-family: hightower;
    font-size: 24px;
    margin-bottom:10px;
}

.commentIntroBox{
    border-bottom:1px solid grey;
}

.commentIntroBox p{
    padding-bottom:10px;
}