.commentFormContainer{
    margin-bottom:10px;
}

.commentForm label{
    display:block;
}

.commentForm{
    width:100%;
}

.commentForm div{
    width:100%;
}

.commentForm .inputArea {
    border:2px solid #bdbdbd;
    width:100%;
    background-color: #ebebe6;
    padding:5px;
    border-radius: 2px;
}

.commentForm div > textarea{
    width:inherit;
}

.submitCommentButton{
    background-color:#600060;
    padding:10px;
    color:white;
    opacity:0.8;
    cursor: pointer;
    margin-bottom:15px;
}

.submitCommentButton:hover{
    opacity:1;
}

.logoutButton{
    color:black;
    background-color: transparent;
    cursor: pointer;
    font-size:10px;
}

.socialMediaSigninBox{
    border-bottom:1px solid #bdbdbd;
    margin-top:15px;
    padding-bottom:15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.socialMediaSigninBox a{
    margin-top:5px;
    color:#600060;
}