.homePageSection{
    background-color: #feffef;
    padding-left:35px;
    padding-right:25px;
    padding-top:50px;
}

.homePageSection h1{
    color:#ff914d;
    font-size:50px;
    font-family: brushwell;
    /*border:1px solid red;*/
    margin:0px;
    padding-top:10px;
    padding-bottom:20px;
}

.homePageSection p{
    padding-bottom:20px;
    font-family: avenir;
}

.homePageImage{
    width:100%;
    /*border:1px solid red;*/
}

.homePageFooter{
    background-color: #feffef;
    font-family: avenir;
    border-top:15px solid #ff914d;
}


@media(min-width: 768px) {
    /*.homePageSection{
        display:flex;
    }*/
    .homePageImage{
        width:70%;
        margin-left:15%;
        margin-right:15%;
    }
    .homePageSection h1,.homePageSection p{
        width:60%;
        margin-left:20%;
        margin-right:20%;
    }
}