.commentItem{
    border-bottom:1px solid #bdbdbd;
    margin-top:15px;
    display:flex;
    font-size: 16px;
}

.commentData{
    width:100%;
    color:grey;
    font-size: 14px;
}

.commentData span{
    margin-left:5px;
    margin-right:5px;
}

.commentImg{
    margin-right:6px;
    display:inline-block;
    width:40px;
}

.commentImg .userImg{
    width:40px;
    height:40px;
    border-radius: 50%;
}

.customIcon{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #600060;
    color:white;
}

.customIcon p{
    font-size: 16px;
    line-height: 16px;
    margin:0px;
    padding:0px;
}

.commentItem span{
    color:grey;
}

.replyButton{
    cursor: pointer;
}

.commentContent{
    margin-top:8px;
    margin-bottom:8px;
}

.commentInteractionBox{
    display:flex;
    align-items: center;
    color:grey;
    font-size: 14px;
}

.commentInteractionBox p, .commentInteractionBox button, .commentInteractionBox em{
    margin-right:10px;
    color:grey;
    background-color: transparent;
}

.commentContentBox div{
    margin-bottom:8px;
}

